@model IEnumerable<EF_DatabaseFirst.Models.SinhVien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSinhVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tuoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LopID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSinhVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tuoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LopID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SinhVienID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SinhVienID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SinhVienID })
        </td>
    </tr>
}

</table>
